﻿/* Empty. Add your own CSS if you like */
.currentItem {
    background-color: lightblue !important;
}

.item-text-center
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.item {
    background-color: transparent;
    border: none;
}


.mainContent {
    position: relative;
    top: 5%;
    transform: translateY(-5%);
    padding: 16px;
}

.centerImage {
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-height: 120px !important;
  margin-bottom: 10%
}

ion-content {
    padding: 10px
}

