<?xml version="1.0" encoding="utf-8"?>

    <ion-view>
        <!--
        Create tabs with an icon and label, using the tabs-positive style.
        Each tab's child <ion-nav-view> directive will have its own
        navigation history that also transitions its views in and out.
        -->
        <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
            <!-- Dashboard Tab -->
            <ion-slide-page>
                <ion-view view-title="TodayMenu">
                    <ion-content>
                        <h4>Meniul zilei</h4>
                        <!--<ion-refresher on-refresh="doRefresh()">
                        </ion-refresher>-->
                        <ion-spinner ng-hide="isReady"></ion-spinner>

                        <div class="mainContent" ng-show="isReady">
                            <ion-list class="item-text-wrap">
                                <img class="centerImage" ng-src="img/main.jpg" />
                                <h4 style="color:saddlebrown">{{currentMenu.date}}</h4>
                                <ion-item class="item-avatar item-borderless">
                                    <img ng-src="img/bowl.png" />
                                    <h2 class="item-text-center">{{currentMenu.line2}}</h2>
                                </ion-item>
                                <ion-item style="border:none" class="item-avatar item-borderless item-text-wrap">
                                    <img ng-src="img/dish.png" />
                                    <h2 class="item-text-center">{{currentMenu.line1}}</h2>
                                </ion-item>
                            </ion-list>
                        </div>
                    </ion-content>
                </ion-view>

            </ion-slide-page>

            <!-- Menu Tab -->
            <ion-slide-page>
                <ion-view view-title="FutureMenus">
                    <ion-content>
                        <!--<ion-refresher on-refresh="doRefresh()">
                        </ion-refresher>-->
                        <h4>Urmatoarele zile</h4>
                        <p></p>
                        <ion-list>
                            <ion-item ng-hide="isReady">
                                <ion-spinner></ion-spinner>
                            </ion-item>

                            <ion-item ng-repeat="menu in menus" id="item{{menu.id}}" type="item-text-wrap" class="item-text-wrap">
                                <h3 style="color:saddlebrown">{{menu.date}}</h3>
                                <ion-list>
                                    <ion-item class="item-avatar item-borderless">
                                        <img ng-src="img/bowl.png" />
                                        <h4 class="item-text-center">{{menu.line2}}</h4>
                                    </ion-item>
                                    <ion-item class="item-avatar item-borderless">
                                        <img ng-src="img/dish.png" />
                                        <h4 class="item-text-center">{{menu.line1}}</h4>
                                    </ion-item>
                                </ion-list>
                            </ion-item>

                        </ion-list>
                    </ion-content>
                </ion-view>

            </ion-slide-page>

        </ion-slides>
    </ion-view>
